/*COLORES*/
$azuloscuro: #001219;
$azulclaro: #005f73;
$celeste: #0a9396;
$celesteclaro: #94d2bd;
$beige: #e9d8a6;
$amarillo: #ee9b00;
$naranjaclaro: #ca6702;
$naranja: #bb3e03;
$rojo: #ae2012;
$bordeaux: #9b2226;
$blanco: white;

/*TRANSFORMACIONES*/
$gradiente: linear-gradient(to bottom, #001219, #005f73);

/*TAMAÑO DE FUENTE*/
$titulofooter: 1rem;
$textofooter: 0.75rem;
$textocopy: 0.75rem;
$h1: 2.5rem;
$boton: 1.025rem;

$redessociales: 10px;
$anchoTablet: 768px;
